<!doctype html>
<html>
    <head>
      <title>Arsene Lapin World - Flask Project</title>
		  <link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
      <h1>{{ hello }}</h1>
      <h2>{{ message }}</h2>
      <h4>{{ signature }}</h4>
      <h5><adress><a href = "CV">CV</a></adress></h5>
      <h5><adress><a href = "formulaire">FORMULAIRE</a></adress></h5>
      <h5><adress><a href = "formulaire-NOSQL">INSCRIPTION - NOSQL</a></adress></h5>
      <h5><adress><a href = "liste_utilisateur">UTILISATEURS</a></adress></h5>
      <h5><adress><a href = "database">BASE DE DONNEE</a></adress></h5>
      <h5><adress><a href = "statistique">STATISTIQUE</a></adress></h5>
      <h5> EN COURS DE DÉVELOPPEMENT</h5>
      <h5><adress><a href = "formulaire-SQL">INSCRIPTION - SQL</a></adress></h5>
      <h5><adress><a href = "mnist">MNIST</a></adress></h5>
      <h5> NON DISPONIBLE - PENURIE DE GNOME TRAVAILLEUR</h5>
    </body>
</html>